In [1]:
# Importing libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, row_number, monotonically_increasing_id
from pyspark.sql.window import Window
import psycopg2 as psy
from pyspark.sql import functions as f

In [2]:
#Setup Spark Session

spark= SparkSession.builder.appName('NY Trip Data') \
                   .config("spark.jars" , "postgresql.42.7.3") \
                   .config ("spark.executor.memory", "4g") \
                   .getOrCreate()

In [3]:
file_path= "yellow_tripdata_2009-01DATASET.parquet"
ny_df=spark.read.option('mode','DROPMALFORMED' ).parquet(file_path)

In [4]:
print('Length of dataset is:', ny_df.count())

Length of dataset is: 14092413

In [5]:
ny_df.show()

+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
|vendor_name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|     Trip_Distance|         Start_Lon|Start_Lat|Rate_Code|store_and_forward|           End_Lon|  End_Lat|Payment_Type|         Fare_Amt|surcharge|mta_tax|Tip_Amt|Tolls_Amt|Total_Amt|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
|        VTS| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              1|              2.63|        -73.991957|40.721567|     NULL|             NULL|        -73.993803|40.695922|        CASH|              8.9|      0.5|   NULL|    0.0|      0.0|      9.4|
|        VTS| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              3|              4.55|        -73.982102| 40.73629|     NULL|             NULL|         -73.95585| 40.76803|      Credit|             12.1|      0.5|   NULL|    2.0|      0.0|     14.6|
|        VTS| 2009-01-03 15:43:00|  2009-01-03 15:57:00|              5|             10.35|        -74.002587|40.739748|     NULL|             NULL|        -73.869983|40.770225|      Credit|             23.7|      0.0|   NULL|   4.74|      0.0|    28.44|
|        DDS| 2009-01-01 20:52:58|  2009-01-01 21:14:00|              1|               5.0|        -73.974267|40.790955|     NULL|             NULL|-73.99655799999998|40.731849|      CREDIT|             14.9|      0.5|   NULL|   3.05|      0.0|    18.45|
|        DDS| 2009-01-24 16:18:23|  2009-01-24 16:24:56|              1|               0.4|         -74.00158|40.719382|     NULL|             NULL|-74.00837799999998| 40.72035|        CASH|              3.7|      0.0|   NULL|    0.0|      0.0|      3.7|
|        DDS| 2009-01-16 22:35:59|  2009-01-16 22:43:35|              2|               1.2|        -73.989806|40.735006|     NULL|             NULL|        -73.985021|40.724494|        CASH|              6.1|      0.5|   NULL|    0.0|      0.0|      6.6|
|        DDS| 2009-01-21 08:55:57|  2009-01-21 09:05:42|              1|               0.4|-73.98404999999998|40.743544|     NULL|             NULL|         -73.98026|40.748926|      CREDIT|              5.7|      0.0|   NULL|    1.0|      0.0|      6.7|
|        VTS| 2009-01-04 04:31:00|  2009-01-04 04:36:00|              1|              1.72|        -73.992635|40.748362|     NULL|             NULL|        -73.995585|40.728307|        CASH|              6.1|      0.5|   NULL|    0.0|      0.0|      6.6|
|        CMT| 2009-01-05 16:29:02|  2009-01-05 16:40:21|              1|               1.6|         -73.96969|40.749244|     NULL|             NULL|        -73.990413|40.751082|      Credit|8.699999999999998|      0.0|   NULL|    1.3|      0.0|     10.0|
|        CMT| 2009-01-05 18:53:13|  2009-01-05 18:57:45|              1|0.6999999999999998|        -73.955173|40.783044|     NULL|             NULL|-73.95859799999998|40.774822|        Cash|              5.9|      0.0|   NULL|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 08:15:38|  2009-01-05 08:16:44|              1|0.2999999999999999|        -73.986824|40.750893|     NULL|             NULL|-73.98411799999998|40.751437|        Cash|              2.9|      0.0|   NULL|    0.0|      0.0|      2.9|
|        CMT| 2009-01-05 06:21:43|  2009-01-05 06:28:41|              1|               2.3|          -74.0061|40.748432|     NULL|             NULL|        -73.978437|40.762481|        Cash|              7.7|      0.0|   NULL|    0.0|      0.0|      7.7|
|        DDS| 2009-01-20 13:44:02|  2009-01-20 13:52:43|              2|               2.1|        -73.983339|40.744782|     NULL|             NULL|         -73.98116|40.720835|        CASH|              7.3|      0.0|   NULL|    0.0|      0.0|      7.3|
|        CMT| 2009-01-05 16:19:53|  2009-01-05 16:26:48|              2|               1.2|         -73.97351| 40.76028|     NULL|             NULL|        -73.962933|40.775119|        Cash|              6.7|      0.0|   NULL|    0.0|      0.0|      6.7|
|        CMT| 2009-01-05 17:22:16|  2009-01-05 17:27:25|              1|               0.8|        -73.984426| 40.75748|     NULL|             NULL|-73.98251899999998|40.767165|        Cash|              5.9|      0.0|   NULL|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 16:02:52|  2009-01-05 16:18:43|              1|               4.5|-73.99106399999998|40.727654|     NULL|             NULL|-73.94577099999998| 40.77765|        Cash|             13.9|      0.0|   NULL|    0.0|      0.0|     13.9|
|        CMT| 2009-01-05 12:15:06|  2009-01-05 12:27:58|              1|               1.7|        -74.001678|  40.7473|     NULL|             NULL|-73.97895699999998|40.750394|        Cash|              8.5|      0.0|   NULL|    0.0|      0.0|      8.5|
|        CMT| 2009-01-05 07:49:57|  2009-01-05 07:54:11|              1|               1.0|-73.98245699999998|40.731475|     NULL|             NULL|        -73.973011|40.743387|      Credit|              4.5|      0.0|   NULL|    1.0|      0.0|      5.5|
|        DDS| 2009-01-23 23:57:34|  2009-01-24 00:12:40|              2|               5.0|        -73.992554|40.724476|     NULL|             NULL|-73.95306499999998|40.777555|      CREDIT|             13.3|      0.5|   NULL|   3.45|      0.0|    17.25|
|        CMT| 2009-01-05 10:23:13|  2009-01-05 10:33:56|              1|               1.3|        -73.990089|40.759027|     NULL|             NULL|        -73.983974|40.746938|        Cash|              7.3|      0.0|   NULL|    0.0|      0.0|      7.3|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
only showing top 20 rows

In [6]:
#Checking columns
ny_df.columns

['vendor_name',
 'Trip_Pickup_DateTime',
 'Trip_Dropoff_DateTime',
 'Passenger_Count',
 'Trip_Distance',
 'Start_Lon',
 'Start_Lat',
 'Rate_Code',
 'store_and_forward',
 'End_Lon',
 'End_Lat',
 'Payment_Type',
 'Fare_Amt',
 'surcharge',
 'mta_tax',
 'Tip_Amt',
 'Tolls_Amt',
 'Total_Amt']

In [7]:
#Check schema of data
ny_df.printSchema()

root
 |-- vendor_name: string (nullable = true)
 |-- Trip_Pickup_DateTime: string (nullable = true)
 |-- Trip_Dropoff_DateTime: string (nullable = true)
 |-- Passenger_Count: long (nullable = true)
 |-- Trip_Distance: double (nullable = true)
 |-- Start_Lon: double (nullable = true)
 |-- Start_Lat: double (nullable = true)
 |-- Rate_Code: double (nullable = true)
 |-- store_and_forward: double (nullable = true)
 |-- End_Lon: double (nullable = true)
 |-- End_Lat: double (nullable = true)
 |-- Payment_Type: string (nullable = true)
 |-- Fare_Amt: double (nullable = true)
 |-- surcharge: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- Tip_Amt: double (nullable = true)
 |-- Tolls_Amt: double (nullable = true)
 |-- Total_Amt: double (nullable = true)

In [8]:
#taking a subset of our dataset

ny_df_subset=ny_df.limit(20000)

In [9]:
#Checking new row count
ny_df_subset.count()

20000

In [10]:
ny_df_subset.show()

+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
|vendor_name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|     Trip_Distance|         Start_Lon|Start_Lat|Rate_Code|store_and_forward|           End_Lon|  End_Lat|Payment_Type|         Fare_Amt|surcharge|mta_tax|Tip_Amt|Tolls_Amt|Total_Amt|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
|        VTS| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              1|              2.63|        -73.991957|40.721567|     NULL|             NULL|        -73.993803|40.695922|        CASH|              8.9|      0.5|   NULL|    0.0|      0.0|      9.4|
|        VTS| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              3|              4.55|        -73.982102| 40.73629|     NULL|             NULL|         -73.95585| 40.76803|      Credit|             12.1|      0.5|   NULL|    2.0|      0.0|     14.6|
|        VTS| 2009-01-03 15:43:00|  2009-01-03 15:57:00|              5|             10.35|        -74.002587|40.739748|     NULL|             NULL|        -73.869983|40.770225|      Credit|             23.7|      0.0|   NULL|   4.74|      0.0|    28.44|
|        DDS| 2009-01-01 20:52:58|  2009-01-01 21:14:00|              1|               5.0|        -73.974267|40.790955|     NULL|             NULL|-73.99655799999998|40.731849|      CREDIT|             14.9|      0.5|   NULL|   3.05|      0.0|    18.45|
|        DDS| 2009-01-24 16:18:23|  2009-01-24 16:24:56|              1|               0.4|         -74.00158|40.719382|     NULL|             NULL|-74.00837799999998| 40.72035|        CASH|              3.7|      0.0|   NULL|    0.0|      0.0|      3.7|
|        DDS| 2009-01-16 22:35:59|  2009-01-16 22:43:35|              2|               1.2|        -73.989806|40.735006|     NULL|             NULL|        -73.985021|40.724494|        CASH|              6.1|      0.5|   NULL|    0.0|      0.0|      6.6|
|        DDS| 2009-01-21 08:55:57|  2009-01-21 09:05:42|              1|               0.4|-73.98404999999998|40.743544|     NULL|             NULL|         -73.98026|40.748926|      CREDIT|              5.7|      0.0|   NULL|    1.0|      0.0|      6.7|
|        VTS| 2009-01-04 04:31:00|  2009-01-04 04:36:00|              1|              1.72|        -73.992635|40.748362|     NULL|             NULL|        -73.995585|40.728307|        CASH|              6.1|      0.5|   NULL|    0.0|      0.0|      6.6|
|        CMT| 2009-01-05 16:29:02|  2009-01-05 16:40:21|              1|               1.6|         -73.96969|40.749244|     NULL|             NULL|        -73.990413|40.751082|      Credit|8.699999999999998|      0.0|   NULL|    1.3|      0.0|     10.0|
|        CMT| 2009-01-05 18:53:13|  2009-01-05 18:57:45|              1|0.6999999999999998|        -73.955173|40.783044|     NULL|             NULL|-73.95859799999998|40.774822|        Cash|              5.9|      0.0|   NULL|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 08:15:38|  2009-01-05 08:16:44|              1|0.2999999999999999|        -73.986824|40.750893|     NULL|             NULL|-73.98411799999998|40.751437|        Cash|              2.9|      0.0|   NULL|    0.0|      0.0|      2.9|
|        CMT| 2009-01-05 06:21:43|  2009-01-05 06:28:41|              1|               2.3|          -74.0061|40.748432|     NULL|             NULL|        -73.978437|40.762481|        Cash|              7.7|      0.0|   NULL|    0.0|      0.0|      7.7|
|        DDS| 2009-01-20 13:44:02|  2009-01-20 13:52:43|              2|               2.1|        -73.983339|40.744782|     NULL|             NULL|         -73.98116|40.720835|        CASH|              7.3|      0.0|   NULL|    0.0|      0.0|      7.3|
|        CMT| 2009-01-05 16:19:53|  2009-01-05 16:26:48|              2|               1.2|         -73.97351| 40.76028|     NULL|             NULL|        -73.962933|40.775119|        Cash|              6.7|      0.0|   NULL|    0.0|      0.0|      6.7|
|        CMT| 2009-01-05 17:22:16|  2009-01-05 17:27:25|              1|               0.8|        -73.984426| 40.75748|     NULL|             NULL|-73.98251899999998|40.767165|        Cash|              5.9|      0.0|   NULL|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 16:02:52|  2009-01-05 16:18:43|              1|               4.5|-73.99106399999998|40.727654|     NULL|             NULL|-73.94577099999998| 40.77765|        Cash|             13.9|      0.0|   NULL|    0.0|      0.0|     13.9|
|        CMT| 2009-01-05 12:15:06|  2009-01-05 12:27:58|              1|               1.7|        -74.001678|  40.7473|     NULL|             NULL|-73.97895699999998|40.750394|        Cash|              8.5|      0.0|   NULL|    0.0|      0.0|      8.5|
|        CMT| 2009-01-05 07:49:57|  2009-01-05 07:54:11|              1|               1.0|-73.98245699999998|40.731475|     NULL|             NULL|        -73.973011|40.743387|      Credit|              4.5|      0.0|   NULL|    1.0|      0.0|      5.5|
|        DDS| 2009-01-23 23:57:34|  2009-01-24 00:12:40|              2|               5.0|        -73.992554|40.724476|     NULL|             NULL|-73.95306499999998|40.777555|      CREDIT|             13.3|      0.5|   NULL|   3.45|      0.0|    17.25|
|        CMT| 2009-01-05 10:23:13|  2009-01-05 10:33:56|              1|               1.3|        -73.990089|40.759027|     NULL|             NULL|        -73.983974|40.746938|        Cash|              7.3|      0.0|   NULL|    0.0|      0.0|      7.3|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
only showing top 20 rows

In [11]:
#checkinf for duplicate rows
ny_df_subset.groupBy('vendor_name',
 'Trip_Pickup_DateTime',
 'Trip_Dropoff_DateTime',
 'Passenger_Count',
 'Trip_Distance',
 'Start_Lon',
 'Start_Lat',
 'Rate_Code',
 'store_and_forward',
 'End_Lon',
 'End_Lat',
 'Payment_Type',
 'Fare_Amt',
 'surcharge',
 'mta_tax',
 'Tip_Amt',
 'Tolls_Amt',
 'Total_Amt').count().filter('count > 1').show()

+-----------+--------------------+---------------------+---------------+-------------+---------+---------+---------+-----------------+-------+-------+------------+--------+---------+-------+-------+---------+---------+-----+
|vendor_name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|Trip_Distance|Start_Lon|Start_Lat|Rate_Code|store_and_forward|End_Lon|End_Lat|Payment_Type|Fare_Amt|surcharge|mta_tax|Tip_Amt|Tolls_Amt|Total_Amt|count|
+-----------+--------------------+---------------------+---------------+-------------+---------+---------+---------+-----------------+-------+-------+------------+--------+---------+-------+-------+---------+---------+-----+
+-----------+--------------------+---------------------+---------------+-------------+---------+---------+---------+-----------------+-------+-------+------------+--------+---------+-------+-------+---------+---------+-----+

In [12]:
#Find the missing values in the dataset
for column in ny_df_subset.columns:
  null_count= ny_df_subset.filter(f.col(column).isNull()).count()
  print(column, null_count)

vendor_name 0
Trip_Pickup_DateTime 0
Trip_Dropoff_DateTime 0
Passenger_Count 0
Trip_Distance 0
Start_Lon 0
Start_Lat 0
Rate_Code 20000
store_and_forward 20000
End_Lon 0
End_Lat 0
Payment_Type 0
Fare_Amt 0
surcharge 0
mta_tax 20000
Tip_Amt 0
Tolls_Amt 0
Total_Amt 0

In [15]:
#FInding minssing values using list comprehension
null_counts_2= [(column, ny_df_subset.where(f.col(column).isNull()).count()) for column in ny_df_subset.columns]
null_counts_2

[('vendor_name', 0),
 ('Trip_Pickup_DateTime', 0),
 ('Trip_Dropoff_DateTime', 0),
 ('Passenger_Count', 0),
 ('Trip_Distance', 0),
 ('Start_Lon', 0),
 ('Start_Lat', 0),
 ('Rate_Code', 20000),
 ('store_and_forward', 20000),
 ('End_Lon', 0),
 ('End_Lat', 0),
 ('Payment_Type', 0),
 ('Fare_Amt', 0),
 ('surcharge', 0),
 ('mta_tax', 20000),
 ('Tip_Amt', 0),
 ('Tolls_Amt', 0),
 ('Total_Amt', 0)]

In [23]:
#Getting columns to drop
columns_to_drop = [column for column, count in null_counts_2 if count > 0.1 * ny_df_subset.count()]
columns_to_drop

['Rate_Code', 'store_and_forward', 'mta_tax']

In [25]:
#Droping columns with more than 10% nulls
ny_df_subset= ny_df_subset.drop(*columns_to_drop)

ny_df_subset.columns

['vendor_name',
 'Trip_Pickup_DateTime',
 'Trip_Dropoff_DateTime',
 'Passenger_Count',
 'Trip_Distance',
 'Start_Lon',
 'Start_Lat',
 'End_Lon',
 'End_Lat',
 'Payment_Type',
 'Fare_Amt',
 'surcharge',
 'Tip_Amt',
 'Tolls_Amt',
 'Total_Amt']

In [26]:
ny_df_subset.show()

+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+------------------+---------+------------+-----------------+---------+-------+---------+---------+
|vendor_name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|     Trip_Distance|         Start_Lon|Start_Lat|           End_Lon|  End_Lat|Payment_Type|         Fare_Amt|surcharge|Tip_Amt|Tolls_Amt|Total_Amt|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+------------------+---------+------------+-----------------+---------+-------+---------+---------+
|        VTS| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              1|              2.63|        -73.991957|40.721567|        -73.993803|40.695922|        CASH|              8.9|      0.5|    0.0|      0.0|      9.4|
|        VTS| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              3|              4.55|        -73.982102| 40.73629|         -73.95585| 40.76803|      Credit|             12.1|      0.5|    2.0|      0.0|     14.6|
|        VTS| 2009-01-03 15:43:00|  2009-01-03 15:57:00|              5|             10.35|        -74.002587|40.739748|        -73.869983|40.770225|      Credit|             23.7|      0.0|   4.74|      0.0|    28.44|
|        DDS| 2009-01-01 20:52:58|  2009-01-01 21:14:00|              1|               5.0|        -73.974267|40.790955|-73.99655799999998|40.731849|      CREDIT|             14.9|      0.5|   3.05|      0.0|    18.45|
|        DDS| 2009-01-24 16:18:23|  2009-01-24 16:24:56|              1|               0.4|         -74.00158|40.719382|-74.00837799999998| 40.72035|        CASH|              3.7|      0.0|    0.0|      0.0|      3.7|
|        DDS| 2009-01-16 22:35:59|  2009-01-16 22:43:35|              2|               1.2|        -73.989806|40.735006|        -73.985021|40.724494|        CASH|              6.1|      0.5|    0.0|      0.0|      6.6|
|        DDS| 2009-01-21 08:55:57|  2009-01-21 09:05:42|              1|               0.4|-73.98404999999998|40.743544|         -73.98026|40.748926|      CREDIT|              5.7|      0.0|    1.0|      0.0|      6.7|
|        VTS| 2009-01-04 04:31:00|  2009-01-04 04:36:00|              1|              1.72|        -73.992635|40.748362|        -73.995585|40.728307|        CASH|              6.1|      0.5|    0.0|      0.0|      6.6|
|        CMT| 2009-01-05 16:29:02|  2009-01-05 16:40:21|              1|               1.6|         -73.96969|40.749244|        -73.990413|40.751082|      Credit|8.699999999999998|      0.0|    1.3|      0.0|     10.0|
|        CMT| 2009-01-05 18:53:13|  2009-01-05 18:57:45|              1|0.6999999999999998|        -73.955173|40.783044|-73.95859799999998|40.774822|        Cash|              5.9|      0.0|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 08:15:38|  2009-01-05 08:16:44|              1|0.2999999999999999|        -73.986824|40.750893|-73.98411799999998|40.751437|        Cash|              2.9|      0.0|    0.0|      0.0|      2.9|
|        CMT| 2009-01-05 06:21:43|  2009-01-05 06:28:41|              1|               2.3|          -74.0061|40.748432|        -73.978437|40.762481|        Cash|              7.7|      0.0|    0.0|      0.0|      7.7|
|        DDS| 2009-01-20 13:44:02|  2009-01-20 13:52:43|              2|               2.1|        -73.983339|40.744782|         -73.98116|40.720835|        CASH|              7.3|      0.0|    0.0|      0.0|      7.3|
|        CMT| 2009-01-05 16:19:53|  2009-01-05 16:26:48|              2|               1.2|         -73.97351| 40.76028|        -73.962933|40.775119|        Cash|              6.7|      0.0|    0.0|      0.0|      6.7|
|        CMT| 2009-01-05 17:22:16|  2009-01-05 17:27:25|              1|               0.8|        -73.984426| 40.75748|-73.98251899999998|40.767165|        Cash|              5.9|      0.0|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 16:02:52|  2009-01-05 16:18:43|              1|               4.5|-73.99106399999998|40.727654|-73.94577099999998| 40.77765|        Cash|             13.9|      0.0|    0.0|      0.0|     13.9|
|        CMT| 2009-01-05 12:15:06|  2009-01-05 12:27:58|              1|               1.7|        -74.001678|  40.7473|-73.97895699999998|40.750394|        Cash|              8.5|      0.0|    0.0|      0.0|      8.5|
|        CMT| 2009-01-05 07:49:57|  2009-01-05 07:54:11|              1|               1.0|-73.98245699999998|40.731475|        -73.973011|40.743387|      Credit|              4.5|      0.0|    1.0|      0.0|      5.5|
|        DDS| 2009-01-23 23:57:34|  2009-01-24 00:12:40|              2|               5.0|        -73.992554|40.724476|-73.95306499999998|40.777555|      CREDIT|             13.3|      0.5|   3.45|      0.0|    17.25|
|        CMT| 2009-01-05 10:23:13|  2009-01-05 10:33:56|              1|               1.3|        -73.990089|40.759027|        -73.983974|40.746938|        Cash|              7.3|      0.0|    0.0|      0.0|      7.3|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+------------------+---------+------------+-----------------+---------+-------+---------+---------+
only showing top 20 rows

In [27]:
#Data transformation

ny_df_subset=ny_df_subset.filter(
    (f.col('Passenger_Count') > 0.0) &
    (f.col('Trip_Distance') > 0.0) & 
    (f.col("Fare_Amt") > 0.0) &
    (f.col("Total_Amt") > 0.0) & 
    (f.col("Tip_Amt")>= 0.0) &
    (f.col("Tolls_Amt")>= 0.0) &
    (f.col("surcharge") >= 0.0)
    )

In [28]:
ny_df_subset.count()

19835

In [29]:
#checking data type
ny_df_subset.dtypes

[('vendor_name', 'string'),
 ('Trip_Pickup_DateTime', 'string'),
 ('Trip_Dropoff_DateTime', 'string'),
 ('Passenger_Count', 'bigint'),
 ('Trip_Distance', 'double'),
 ('Start_Lon', 'double'),
 ('Start_Lat', 'double'),
 ('End_Lon', 'double'),
 ('End_Lat', 'double'),
 ('Payment_Type', 'string'),
 ('Fare_Amt', 'double'),
 ('surcharge', 'double'),
 ('Tip_Amt', 'double'),
 ('Tolls_Amt', 'double'),
 ('Total_Amt', 'double')]

In [31]:
#Changing data types
columns_to_cast = {
    "Trip_Pickup_DateTime": "timestamp",
    "Trip_Dropoff_DateTime": "timestamp",
    "Passenger_Count": "integer",
}

In [32]:
#Changing data types
for col_name, col_type in columns_to_cast.items():
    ny_df_subset= ny_df_subset.withColumn(col_name, f.col(col_name).cast(col_type))

In [33]:
ny_df_subset.dtypes

[('vendor_name', 'string'),
 ('Trip_Pickup_DateTime', 'timestamp'),
 ('Trip_Dropoff_DateTime', 'timestamp'),
 ('Passenger_Count', 'int'),
 ('Trip_Distance', 'double'),
 ('Start_Lon', 'double'),
 ('Start_Lat', 'double'),
 ('End_Lon', 'double'),
 ('End_Lat', 'double'),
 ('Payment_Type', 'string'),
 ('Fare_Amt', 'double'),
 ('surcharge', 'double'),
 ('Tip_Amt', 'double'),
 ('Tolls_Amt', 'double'),
 ('Total_Amt', 'double')]

In [34]:
#Print out all categorical columns
categorical_columns= [item[0] for item in ny_df_subset.dtypes if item[1].startswith('string')]

categorical_columns

['vendor_name', 'Payment_Type']

In [35]:
#Checking the distinct values in the categorical data
ny_df_subset.select('vendor_name').distinct().show()

+-----------+
|vendor_name|
+-----------+
|        VTS|
|        DDS|
|        CMT|
+-----------+

In [36]:
#Checking the distinct values in the categorical data
ny_df_subset.select('Payment_Type').distinct().show()

+------------+
|Payment_Type|
+------------+
|        CASH|
|      Credit|
|      CREDIT|
|        Cash|
|   No Charge|
|     Dispute|
+------------+

In [37]:
# Fixing payment_type column
ny_df_subset= ny_df_subset.withColumn("Payment_Type", 
                                      when(f.col('Payment_Type')== 'CASH', 'Cash')
                                      .when(f.col('Payment_Type') == 'CREDIT', 'Credit')
                                      .otherwise(f.col('Payment_Type'))
                                    )

In [38]:
ny_df_subset.select('Payment_Type').distinct().show()

+------------+
|Payment_Type|
+------------+
|        Cash|
|      Credit|
|   No Charge|
|     Dispute|
+------------+

Creating Different Tables

In [39]:
#Creating vendor table

vendors= ny_df_subset.select('vendor_name') \
                    .withColumn('vendor_id', monotonically_increasing_id()+1) \
                    .select('vendor_id', 'vendor_name')

vendors.show()

+---------+-----------+
|vendor_id|vendor_name|
+---------+-----------+
|        1|        VTS|
|        2|        VTS|
|        3|        VTS|
|        4|        DDS|
|        5|        DDS|
|        6|        DDS|
|        7|        DDS|
|        8|        VTS|
|        9|        CMT|
|       10|        CMT|
|       11|        CMT|
|       12|        CMT|
|       13|        DDS|
|       14|        CMT|
|       15|        CMT|
|       16|        CMT|
|       17|        CMT|
|       18|        CMT|
|       19|        DDS|
|       20|        CMT|
+---------+-----------+
only showing top 20 rows

In [40]:
vendors.count()

19835

In [41]:
payments= ny_df_subset.select('Payment_Type', 'Fare_Amt', 'surcharge', 'Tip_Amt', 'Tolls_Amt', 'Total_Amt') \
                      .withColumn('payment_id', monotonically_increasing_id()+1) \
                      .select('payment_id','Payment_Type', 'Fare_Amt', 'surcharge', 'Tip_Amt', 'Tolls_Amt', 'Total_Amt' )

payments.show(5)

+----------+------------+--------+---------+-------+---------+---------+
|payment_id|Payment_Type|Fare_Amt|surcharge|Tip_Amt|Tolls_Amt|Total_Amt|
+----------+------------+--------+---------+-------+---------+---------+
|         1|        Cash|     8.9|      0.5|    0.0|      0.0|      9.4|
|         2|      Credit|    12.1|      0.5|    2.0|      0.0|     14.6|
|         3|      Credit|    23.7|      0.0|   4.74|      0.0|    28.44|
|         4|      Credit|    14.9|      0.5|   3.05|      0.0|    18.45|
|         5|        Cash|     3.7|      0.0|    0.0|      0.0|      3.7|
+----------+------------+--------+---------+-------+---------+---------+
only showing top 5 rows

In [42]:
payments.count()

19835

In [43]:
#Locations table

locations= ny_df_subset.select('Start_Lon', 'Start_Lat', 'End_Lon', 'End_Lat') \
                       .withColumn('location_id', monotonically_increasing_id()+1) \
                       .select('location_id','Start_Lon', 'Start_Lat', 'End_Lon', 'End_Lat')

locations.show(3)

+-----------+----------+---------+----------+---------+
|location_id| Start_Lon|Start_Lat|   End_Lon|  End_Lat|
+-----------+----------+---------+----------+---------+
|          1|-73.991957|40.721567|-73.993803|40.695922|
|          2|-73.982102| 40.73629| -73.95585| 40.76803|
|          3|-74.002587|40.739748|-73.869983|40.770225|
+-----------+----------+---------+----------+---------+
only showing top 3 rows

In [44]:
locations.count()

19835

In [53]:
#Trip Table

trips= ny_df_subset.withColumn('trip_id',monotonically_increasing_id()+1 )

trips= trips.join(vendors, trips.trip_id==vendors.vendor_id, 'left')\
            .join(payments,trips.trip_id==payments.payment_id, 'left' )\
            .join (locations,trips.trip_id==locations.location_id, 'left' ) \
            .select ('trip_id', 'vendor_id','payment_id', 'location_id', 'Trip_Pickup_DateTime','Trip_Dropoff_DateTime','Passenger_Count','Trip_Distance')

trips.show()

+-------+---------+----------+-----------+--------------------+---------------------+---------------+------------------+
|trip_id|vendor_id|payment_id|location_id|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|     Trip_Distance|
+-------+---------+----------+-----------+--------------------+---------------------+---------------+------------------+
|      1|        1|         1|          1| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              1|              2.63|
|      2|        2|         2|          2| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              3|              4.55|
|      3|        3|         3|          3| 2009-01-03 15:43:00|  2009-01-03 15:57:00|              5|             10.35|
|      4|        4|         4|          4| 2009-01-01 20:52:58|  2009-01-01 21:14:00|              1|               5.0|
|      5|        5|         5|          5| 2009-01-24 16:18:23|  2009-01-24 16:24:56|              1|               0.4|
|      6|        6|         6|          6| 2009-01-16 22:35:59|  2009-01-16 22:43:35|              2|               1.2|
|      7|        7|         7|          7| 2009-01-21 08:55:57|  2009-01-21 09:05:42|              1|               0.4|
|      8|        8|         8|          8| 2009-01-04 04:31:00|  2009-01-04 04:36:00|              1|              1.72|
|      9|        9|         9|          9| 2009-01-05 16:29:02|  2009-01-05 16:40:21|              1|               1.6|
|     10|       10|        10|         10| 2009-01-05 18:53:13|  2009-01-05 18:57:45|              1|0.6999999999999998|
|     11|       11|        11|         11| 2009-01-05 08:15:38|  2009-01-05 08:16:44|              1|0.2999999999999999|
|     12|       12|        12|         12| 2009-01-05 06:21:43|  2009-01-05 06:28:41|              1|               2.3|
|     13|       13|        13|         13| 2009-01-20 13:44:02|  2009-01-20 13:52:43|              2|               2.1|
|     14|       14|        14|         14| 2009-01-05 16:19:53|  2009-01-05 16:26:48|              2|               1.2|
|     15|       15|        15|         15| 2009-01-05 17:22:16|  2009-01-05 17:27:25|              1|               0.8|
|     16|       16|        16|         16| 2009-01-05 16:02:52|  2009-01-05 16:18:43|              1|               4.5|
|     17|       17|        17|         17| 2009-01-05 12:15:06|  2009-01-05 12:27:58|              1|               1.7|
|     18|       18|        18|         18| 2009-01-05 07:49:57|  2009-01-05 07:54:11|              1|               1.0|
|     19|       19|        19|         19| 2009-01-23 23:57:34|  2009-01-24 00:12:40|              2|               5.0|
|     20|       20|        20|         20| 2009-01-05 10:23:13|  2009-01-05 10:33:56|              1|               1.3|
+-------+---------+----------+-----------+--------------------+---------------------+---------------+------------------+
only showing top 20 rows

In [55]:
trips.count()

19835

In [33]:
# # Cache the DataFrame
# trips.cache()

# # Perform the count
# trip_count = trips.count()
# print(f"Number of rows in trips: {trip_count}")

In [34]:
ny_df_subset.columns

['vendor_name',
 'Trip_Pickup_DateTime',
 'Trip_Dropoff_DateTime',
 'Passenger_Count',
 'Trip_Distance',
 'Start_Lon',
 'Start_Lat',
 'End_Lon',
 'End_Lat',
 'Payment_Type',
 'Fare_Amt',
 'surcharge',
 'Tip_Amt',
 'Tolls_Amt',
 'Total_Amt']