In [2]:
# Importing libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, row_number, monotonically_increasing_id
from pyspark.sql.window import Window
import psycopg2 as psy
import os 
from dotenv import load_dotenv
from pyspark.sql import functions as f

In [3]:

# Path to the PostgreSQL JDBC driver
jdbc_driver_path= r'C:\Users\HP SPECTRE\Documents\Data Journey\10Alytics\ETL_Orchestration\class_case_study\New_York_Taxi_Trip_Record\postgresql-42.7.3.jar'

#Setup Spark Session
spark= SparkSession.builder.appName('NY Trip Data') \
                   .config("spark.jars" , jdbc_driver_path) \
                   .config ("spark.executor.memory", "4g") \
                   .getOrCreate()

In [4]:
file_path= r"C:\Users\HP SPECTRE\Documents\Data Journey\10Alytics\ETL_Orchestration\class_case_study\yellow_tripdata_2009-01DATASET.parquet"
ny_df=spark.read.option('mode','DROPMALFORMED' ).parquet(file_path)

In [5]:
print('Length of dataset is:', ny_df.count())

Length of dataset is: 14092413

In [6]:
ny_df.show()

+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
|vendor_name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|     Trip_Distance|         Start_Lon|Start_Lat|Rate_Code|store_and_forward|           End_Lon|  End_Lat|Payment_Type|         Fare_Amt|surcharge|mta_tax|Tip_Amt|Tolls_Amt|Total_Amt|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
|        VTS| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              1|              2.63|        -73.991957|40.721567|     NULL|             NULL|        -73.993803|40.695922|        CASH|              8.9|      0.5|   NULL|    0.0|      0.0|      9.4|
|        VTS| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              3|              4.55|        -73.982102| 40.73629|     NULL|             NULL|         -73.95585| 40.76803|      Credit|             12.1|      0.5|   NULL|    2.0|      0.0|     14.6|
|        VTS| 2009-01-03 15:43:00|  2009-01-03 15:57:00|              5|             10.35|        -74.002587|40.739748|     NULL|             NULL|        -73.869983|40.770225|      Credit|             23.7|      0.0|   NULL|   4.74|      0.0|    28.44|
|        DDS| 2009-01-01 20:52:58|  2009-01-01 21:14:00|              1|               5.0|        -73.974267|40.790955|     NULL|             NULL|-73.99655799999998|40.731849|      CREDIT|             14.9|      0.5|   NULL|   3.05|      0.0|    18.45|
|        DDS| 2009-01-24 16:18:23|  2009-01-24 16:24:56|              1|               0.4|         -74.00158|40.719382|     NULL|             NULL|-74.00837799999998| 40.72035|        CASH|              3.7|      0.0|   NULL|    0.0|      0.0|      3.7|
|        DDS| 2009-01-16 22:35:59|  2009-01-16 22:43:35|              2|               1.2|        -73.989806|40.735006|     NULL|             NULL|        -73.985021|40.724494|        CASH|              6.1|      0.5|   NULL|    0.0|      0.0|      6.6|
|        DDS| 2009-01-21 08:55:57|  2009-01-21 09:05:42|              1|               0.4|-73.98404999999998|40.743544|     NULL|             NULL|         -73.98026|40.748926|      CREDIT|              5.7|      0.0|   NULL|    1.0|      0.0|      6.7|
|        VTS| 2009-01-04 04:31:00|  2009-01-04 04:36:00|              1|              1.72|        -73.992635|40.748362|     NULL|             NULL|        -73.995585|40.728307|        CASH|              6.1|      0.5|   NULL|    0.0|      0.0|      6.6|
|        CMT| 2009-01-05 16:29:02|  2009-01-05 16:40:21|              1|               1.6|         -73.96969|40.749244|     NULL|             NULL|        -73.990413|40.751082|      Credit|8.699999999999998|      0.0|   NULL|    1.3|      0.0|     10.0|
|        CMT| 2009-01-05 18:53:13|  2009-01-05 18:57:45|              1|0.6999999999999998|        -73.955173|40.783044|     NULL|             NULL|-73.95859799999998|40.774822|        Cash|              5.9|      0.0|   NULL|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 08:15:38|  2009-01-05 08:16:44|              1|0.2999999999999999|        -73.986824|40.750893|     NULL|             NULL|-73.98411799999998|40.751437|        Cash|              2.9|      0.0|   NULL|    0.0|      0.0|      2.9|
|        CMT| 2009-01-05 06:21:43|  2009-01-05 06:28:41|              1|               2.3|          -74.0061|40.748432|     NULL|             NULL|        -73.978437|40.762481|        Cash|              7.7|      0.0|   NULL|    0.0|      0.0|      7.7|
|        DDS| 2009-01-20 13:44:02|  2009-01-20 13:52:43|              2|               2.1|        -73.983339|40.744782|     NULL|             NULL|         -73.98116|40.720835|        CASH|              7.3|      0.0|   NULL|    0.0|      0.0|      7.3|
|        CMT| 2009-01-05 16:19:53|  2009-01-05 16:26:48|              2|               1.2|         -73.97351| 40.76028|     NULL|             NULL|        -73.962933|40.775119|        Cash|              6.7|      0.0|   NULL|    0.0|      0.0|      6.7|
|        CMT| 2009-01-05 17:22:16|  2009-01-05 17:27:25|              1|               0.8|        -73.984426| 40.75748|     NULL|             NULL|-73.98251899999998|40.767165|        Cash|              5.9|      0.0|   NULL|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 16:02:52|  2009-01-05 16:18:43|              1|               4.5|-73.99106399999998|40.727654|     NULL|             NULL|-73.94577099999998| 40.77765|        Cash|             13.9|      0.0|   NULL|    0.0|      0.0|     13.9|
|        CMT| 2009-01-05 12:15:06|  2009-01-05 12:27:58|              1|               1.7|        -74.001678|  40.7473|     NULL|             NULL|-73.97895699999998|40.750394|        Cash|              8.5|      0.0|   NULL|    0.0|      0.0|      8.5|
|        CMT| 2009-01-05 07:49:57|  2009-01-05 07:54:11|              1|               1.0|-73.98245699999998|40.731475|     NULL|             NULL|        -73.973011|40.743387|      Credit|              4.5|      0.0|   NULL|    1.0|      0.0|      5.5|
|        DDS| 2009-01-23 23:57:34|  2009-01-24 00:12:40|              2|               5.0|        -73.992554|40.724476|     NULL|             NULL|-73.95306499999998|40.777555|      CREDIT|             13.3|      0.5|   NULL|   3.45|      0.0|    17.25|
|        CMT| 2009-01-05 10:23:13|  2009-01-05 10:33:56|              1|               1.3|        -73.990089|40.759027|     NULL|             NULL|        -73.983974|40.746938|        Cash|              7.3|      0.0|   NULL|    0.0|      0.0|      7.3|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
only showing top 20 rows

In [7]:
#Checking columns
ny_df.columns

['vendor_name',
 'Trip_Pickup_DateTime',
 'Trip_Dropoff_DateTime',
 'Passenger_Count',
 'Trip_Distance',
 'Start_Lon',
 'Start_Lat',
 'Rate_Code',
 'store_and_forward',
 'End_Lon',
 'End_Lat',
 'Payment_Type',
 'Fare_Amt',
 'surcharge',
 'mta_tax',
 'Tip_Amt',
 'Tolls_Amt',
 'Total_Amt']

In [8]:
#Check schema of data
ny_df.printSchema()

root
 |-- vendor_name: string (nullable = true)
 |-- Trip_Pickup_DateTime: string (nullable = true)
 |-- Trip_Dropoff_DateTime: string (nullable = true)
 |-- Passenger_Count: long (nullable = true)
 |-- Trip_Distance: double (nullable = true)
 |-- Start_Lon: double (nullable = true)
 |-- Start_Lat: double (nullable = true)
 |-- Rate_Code: double (nullable = true)
 |-- store_and_forward: double (nullable = true)
 |-- End_Lon: double (nullable = true)
 |-- End_Lat: double (nullable = true)
 |-- Payment_Type: string (nullable = true)
 |-- Fare_Amt: double (nullable = true)
 |-- surcharge: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- Tip_Amt: double (nullable = true)
 |-- Tolls_Amt: double (nullable = true)
 |-- Total_Amt: double (nullable = true)

In [9]:
#taking a subset of our dataset

ny_df_subset=ny_df.limit(20000)

In [10]:
#Checking new row count
ny_df_subset.count()

20000

In [11]:
ny_df_subset.show()

+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
|vendor_name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|     Trip_Distance|         Start_Lon|Start_Lat|Rate_Code|store_and_forward|           End_Lon|  End_Lat|Payment_Type|         Fare_Amt|surcharge|mta_tax|Tip_Amt|Tolls_Amt|Total_Amt|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
|        VTS| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              1|              2.63|        -73.991957|40.721567|     NULL|             NULL|        -73.993803|40.695922|        CASH|              8.9|      0.5|   NULL|    0.0|      0.0|      9.4|
|        VTS| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              3|              4.55|        -73.982102| 40.73629|     NULL|             NULL|         -73.95585| 40.76803|      Credit|             12.1|      0.5|   NULL|    2.0|      0.0|     14.6|
|        VTS| 2009-01-03 15:43:00|  2009-01-03 15:57:00|              5|             10.35|        -74.002587|40.739748|     NULL|             NULL|        -73.869983|40.770225|      Credit|             23.7|      0.0|   NULL|   4.74|      0.0|    28.44|
|        DDS| 2009-01-01 20:52:58|  2009-01-01 21:14:00|              1|               5.0|        -73.974267|40.790955|     NULL|             NULL|-73.99655799999998|40.731849|      CREDIT|             14.9|      0.5|   NULL|   3.05|      0.0|    18.45|
|        DDS| 2009-01-24 16:18:23|  2009-01-24 16:24:56|              1|               0.4|         -74.00158|40.719382|     NULL|             NULL|-74.00837799999998| 40.72035|        CASH|              3.7|      0.0|   NULL|    0.0|      0.0|      3.7|
|        DDS| 2009-01-16 22:35:59|  2009-01-16 22:43:35|              2|               1.2|        -73.989806|40.735006|     NULL|             NULL|        -73.985021|40.724494|        CASH|              6.1|      0.5|   NULL|    0.0|      0.0|      6.6|
|        DDS| 2009-01-21 08:55:57|  2009-01-21 09:05:42|              1|               0.4|-73.98404999999998|40.743544|     NULL|             NULL|         -73.98026|40.748926|      CREDIT|              5.7|      0.0|   NULL|    1.0|      0.0|      6.7|
|        VTS| 2009-01-04 04:31:00|  2009-01-04 04:36:00|              1|              1.72|        -73.992635|40.748362|     NULL|             NULL|        -73.995585|40.728307|        CASH|              6.1|      0.5|   NULL|    0.0|      0.0|      6.6|
|        CMT| 2009-01-05 16:29:02|  2009-01-05 16:40:21|              1|               1.6|         -73.96969|40.749244|     NULL|             NULL|        -73.990413|40.751082|      Credit|8.699999999999998|      0.0|   NULL|    1.3|      0.0|     10.0|
|        CMT| 2009-01-05 18:53:13|  2009-01-05 18:57:45|              1|0.6999999999999998|        -73.955173|40.783044|     NULL|             NULL|-73.95859799999998|40.774822|        Cash|              5.9|      0.0|   NULL|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 08:15:38|  2009-01-05 08:16:44|              1|0.2999999999999999|        -73.986824|40.750893|     NULL|             NULL|-73.98411799999998|40.751437|        Cash|              2.9|      0.0|   NULL|    0.0|      0.0|      2.9|
|        CMT| 2009-01-05 06:21:43|  2009-01-05 06:28:41|              1|               2.3|          -74.0061|40.748432|     NULL|             NULL|        -73.978437|40.762481|        Cash|              7.7|      0.0|   NULL|    0.0|      0.0|      7.7|
|        DDS| 2009-01-20 13:44:02|  2009-01-20 13:52:43|              2|               2.1|        -73.983339|40.744782|     NULL|             NULL|         -73.98116|40.720835|        CASH|              7.3|      0.0|   NULL|    0.0|      0.0|      7.3|
|        CMT| 2009-01-05 16:19:53|  2009-01-05 16:26:48|              2|               1.2|         -73.97351| 40.76028|     NULL|             NULL|        -73.962933|40.775119|        Cash|              6.7|      0.0|   NULL|    0.0|      0.0|      6.7|
|        CMT| 2009-01-05 17:22:16|  2009-01-05 17:27:25|              1|               0.8|        -73.984426| 40.75748|     NULL|             NULL|-73.98251899999998|40.767165|        Cash|              5.9|      0.0|   NULL|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 16:02:52|  2009-01-05 16:18:43|              1|               4.5|-73.99106399999998|40.727654|     NULL|             NULL|-73.94577099999998| 40.77765|        Cash|             13.9|      0.0|   NULL|    0.0|      0.0|     13.9|
|        CMT| 2009-01-05 12:15:06|  2009-01-05 12:27:58|              1|               1.7|        -74.001678|  40.7473|     NULL|             NULL|-73.97895699999998|40.750394|        Cash|              8.5|      0.0|   NULL|    0.0|      0.0|      8.5|
|        CMT| 2009-01-05 07:49:57|  2009-01-05 07:54:11|              1|               1.0|-73.98245699999998|40.731475|     NULL|             NULL|        -73.973011|40.743387|      Credit|              4.5|      0.0|   NULL|    1.0|      0.0|      5.5|
|        DDS| 2009-01-23 23:57:34|  2009-01-24 00:12:40|              2|               5.0|        -73.992554|40.724476|     NULL|             NULL|-73.95306499999998|40.777555|      CREDIT|             13.3|      0.5|   NULL|   3.45|      0.0|    17.25|
|        CMT| 2009-01-05 10:23:13|  2009-01-05 10:33:56|              1|               1.3|        -73.990089|40.759027|     NULL|             NULL|        -73.983974|40.746938|        Cash|              7.3|      0.0|   NULL|    0.0|      0.0|      7.3|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+---------+-----------------+------------------+---------+------------+-----------------+---------+-------+-------+---------+---------+
only showing top 20 rows

In [12]:
#checkinf for duplicate rows
ny_df_subset.groupBy('vendor_name',
 'Trip_Pickup_DateTime',
 'Trip_Dropoff_DateTime',
 'Passenger_Count',
 'Trip_Distance',
 'Start_Lon',
 'Start_Lat',
 'Rate_Code',
 'store_and_forward',
 'End_Lon',
 'End_Lat',
 'Payment_Type',
 'Fare_Amt',
 'surcharge',
 'mta_tax',
 'Tip_Amt',
 'Tolls_Amt',
 'Total_Amt').count().filter('count > 1').show()

+-----------+--------------------+---------------------+---------------+-------------+---------+---------+---------+-----------------+-------+-------+------------+--------+---------+-------+-------+---------+---------+-----+
|vendor_name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|Trip_Distance|Start_Lon|Start_Lat|Rate_Code|store_and_forward|End_Lon|End_Lat|Payment_Type|Fare_Amt|surcharge|mta_tax|Tip_Amt|Tolls_Amt|Total_Amt|count|
+-----------+--------------------+---------------------+---------------+-------------+---------+---------+---------+-----------------+-------+-------+------------+--------+---------+-------+-------+---------+---------+-----+
+-----------+--------------------+---------------------+---------------+-------------+---------+---------+---------+-----------------+-------+-------+------------+--------+---------+-------+-------+---------+---------+-----+

In [13]:
#Find the missing values in the dataset
for column in ny_df_subset.columns:
  null_count= ny_df_subset.filter(f.col(column).isNull()).count()
  print(column, null_count)

vendor_name 0
Trip_Pickup_DateTime 0
Trip_Dropoff_DateTime 0
Passenger_Count 0
Trip_Distance 0
Start_Lon 0
Start_Lat 0
Rate_Code 20000
store_and_forward 20000
End_Lon 0
End_Lat 0
Payment_Type 0
Fare_Amt 0
surcharge 0
mta_tax 20000
Tip_Amt 0
Tolls_Amt 0
Total_Amt 0

In [14]:
#FInding minssing values using list comprehension
null_counts_2= [(column, ny_df_subset.where(f.col(column).isNull()).count()) for column in ny_df_subset.columns]
null_counts_2

[('vendor_name', 0),
 ('Trip_Pickup_DateTime', 0),
 ('Trip_Dropoff_DateTime', 0),
 ('Passenger_Count', 0),
 ('Trip_Distance', 0),
 ('Start_Lon', 0),
 ('Start_Lat', 0),
 ('Rate_Code', 20000),
 ('store_and_forward', 20000),
 ('End_Lon', 0),
 ('End_Lat', 0),
 ('Payment_Type', 0),
 ('Fare_Amt', 0),
 ('surcharge', 0),
 ('mta_tax', 20000),
 ('Tip_Amt', 0),
 ('Tolls_Amt', 0),
 ('Total_Amt', 0)]

In [15]:
#Getting columns to drop
columns_to_drop = [column for column, count in null_counts_2 if count > 0.1 * ny_df_subset.count()]
columns_to_drop

['Rate_Code', 'store_and_forward', 'mta_tax']

In [16]:
#Droping columns with more than 10% nulls
ny_df_subset= ny_df_subset.drop(*columns_to_drop)

ny_df_subset.columns

['vendor_name',
 'Trip_Pickup_DateTime',
 'Trip_Dropoff_DateTime',
 'Passenger_Count',
 'Trip_Distance',
 'Start_Lon',
 'Start_Lat',
 'End_Lon',
 'End_Lat',
 'Payment_Type',
 'Fare_Amt',
 'surcharge',
 'Tip_Amt',
 'Tolls_Amt',
 'Total_Amt']

In [17]:
ny_df_subset.show()

+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+------------------+---------+------------+-----------------+---------+-------+---------+---------+
|vendor_name|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|     Trip_Distance|         Start_Lon|Start_Lat|           End_Lon|  End_Lat|Payment_Type|         Fare_Amt|surcharge|Tip_Amt|Tolls_Amt|Total_Amt|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+------------------+---------+------------+-----------------+---------+-------+---------+---------+
|        VTS| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              1|              2.63|        -73.991957|40.721567|        -73.993803|40.695922|        CASH|              8.9|      0.5|    0.0|      0.0|      9.4|
|        VTS| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              3|              4.55|        -73.982102| 40.73629|         -73.95585| 40.76803|      Credit|             12.1|      0.5|    2.0|      0.0|     14.6|
|        VTS| 2009-01-03 15:43:00|  2009-01-03 15:57:00|              5|             10.35|        -74.002587|40.739748|        -73.869983|40.770225|      Credit|             23.7|      0.0|   4.74|      0.0|    28.44|
|        DDS| 2009-01-01 20:52:58|  2009-01-01 21:14:00|              1|               5.0|        -73.974267|40.790955|-73.99655799999998|40.731849|      CREDIT|             14.9|      0.5|   3.05|      0.0|    18.45|
|        DDS| 2009-01-24 16:18:23|  2009-01-24 16:24:56|              1|               0.4|         -74.00158|40.719382|-74.00837799999998| 40.72035|        CASH|              3.7|      0.0|    0.0|      0.0|      3.7|
|        DDS| 2009-01-16 22:35:59|  2009-01-16 22:43:35|              2|               1.2|        -73.989806|40.735006|        -73.985021|40.724494|        CASH|              6.1|      0.5|    0.0|      0.0|      6.6|
|        DDS| 2009-01-21 08:55:57|  2009-01-21 09:05:42|              1|               0.4|-73.98404999999998|40.743544|         -73.98026|40.748926|      CREDIT|              5.7|      0.0|    1.0|      0.0|      6.7|
|        VTS| 2009-01-04 04:31:00|  2009-01-04 04:36:00|              1|              1.72|        -73.992635|40.748362|        -73.995585|40.728307|        CASH|              6.1|      0.5|    0.0|      0.0|      6.6|
|        CMT| 2009-01-05 16:29:02|  2009-01-05 16:40:21|              1|               1.6|         -73.96969|40.749244|        -73.990413|40.751082|      Credit|8.699999999999998|      0.0|    1.3|      0.0|     10.0|
|        CMT| 2009-01-05 18:53:13|  2009-01-05 18:57:45|              1|0.6999999999999998|        -73.955173|40.783044|-73.95859799999998|40.774822|        Cash|              5.9|      0.0|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 08:15:38|  2009-01-05 08:16:44|              1|0.2999999999999999|        -73.986824|40.750893|-73.98411799999998|40.751437|        Cash|              2.9|      0.0|    0.0|      0.0|      2.9|
|        CMT| 2009-01-05 06:21:43|  2009-01-05 06:28:41|              1|               2.3|          -74.0061|40.748432|        -73.978437|40.762481|        Cash|              7.7|      0.0|    0.0|      0.0|      7.7|
|        DDS| 2009-01-20 13:44:02|  2009-01-20 13:52:43|              2|               2.1|        -73.983339|40.744782|         -73.98116|40.720835|        CASH|              7.3|      0.0|    0.0|      0.0|      7.3|
|        CMT| 2009-01-05 16:19:53|  2009-01-05 16:26:48|              2|               1.2|         -73.97351| 40.76028|        -73.962933|40.775119|        Cash|              6.7|      0.0|    0.0|      0.0|      6.7|
|        CMT| 2009-01-05 17:22:16|  2009-01-05 17:27:25|              1|               0.8|        -73.984426| 40.75748|-73.98251899999998|40.767165|        Cash|              5.9|      0.0|    0.0|      0.0|      5.9|
|        CMT| 2009-01-05 16:02:52|  2009-01-05 16:18:43|              1|               4.5|-73.99106399999998|40.727654|-73.94577099999998| 40.77765|        Cash|             13.9|      0.0|    0.0|      0.0|     13.9|
|        CMT| 2009-01-05 12:15:06|  2009-01-05 12:27:58|              1|               1.7|        -74.001678|  40.7473|-73.97895699999998|40.750394|        Cash|              8.5|      0.0|    0.0|      0.0|      8.5|
|        CMT| 2009-01-05 07:49:57|  2009-01-05 07:54:11|              1|               1.0|-73.98245699999998|40.731475|        -73.973011|40.743387|      Credit|              4.5|      0.0|    1.0|      0.0|      5.5|
|        DDS| 2009-01-23 23:57:34|  2009-01-24 00:12:40|              2|               5.0|        -73.992554|40.724476|-73.95306499999998|40.777555|      CREDIT|             13.3|      0.5|   3.45|      0.0|    17.25|
|        CMT| 2009-01-05 10:23:13|  2009-01-05 10:33:56|              1|               1.3|        -73.990089|40.759027|        -73.983974|40.746938|        Cash|              7.3|      0.0|    0.0|      0.0|      7.3|
+-----------+--------------------+---------------------+---------------+------------------+------------------+---------+------------------+---------+------------+-----------------+---------+-------+---------+---------+
only showing top 20 rows

In [18]:
#Data transformation

ny_df_subset=ny_df_subset.filter(
    (f.col('Passenger_Count') > 0.0) &
    (f.col('Trip_Distance') > 0.0) & 
    (f.col("Fare_Amt") > 0.0) &
    (f.col("Total_Amt") > 0.0) & 
    (f.col("Tip_Amt")>= 0.0) &
    (f.col("Tolls_Amt")>= 0.0) &
    (f.col("surcharge") >= 0.0)
    )

In [19]:
ny_df_subset.count()

19835

In [20]:
#checking data type
ny_df_subset.dtypes

[('vendor_name', 'string'),
 ('Trip_Pickup_DateTime', 'string'),
 ('Trip_Dropoff_DateTime', 'string'),
 ('Passenger_Count', 'bigint'),
 ('Trip_Distance', 'double'),
 ('Start_Lon', 'double'),
 ('Start_Lat', 'double'),
 ('End_Lon', 'double'),
 ('End_Lat', 'double'),
 ('Payment_Type', 'string'),
 ('Fare_Amt', 'double'),
 ('surcharge', 'double'),
 ('Tip_Amt', 'double'),
 ('Tolls_Amt', 'double'),
 ('Total_Amt', 'double')]

In [21]:
#Changing data types
columns_to_cast = {
    "Trip_Pickup_DateTime": "timestamp",
    "Trip_Dropoff_DateTime": "timestamp",
    "Passenger_Count": "integer",
}

In [22]:
#Changing data types
for col_name, col_type in columns_to_cast.items():
    ny_df_subset= ny_df_subset.withColumn(col_name, f.col(col_name).cast(col_type))

In [23]:
ny_df_subset.dtypes

[('vendor_name', 'string'),
 ('Trip_Pickup_DateTime', 'timestamp'),
 ('Trip_Dropoff_DateTime', 'timestamp'),
 ('Passenger_Count', 'int'),
 ('Trip_Distance', 'double'),
 ('Start_Lon', 'double'),
 ('Start_Lat', 'double'),
 ('End_Lon', 'double'),
 ('End_Lat', 'double'),
 ('Payment_Type', 'string'),
 ('Fare_Amt', 'double'),
 ('surcharge', 'double'),
 ('Tip_Amt', 'double'),
 ('Tolls_Amt', 'double'),
 ('Total_Amt', 'double')]

In [24]:
#Print out all categorical columns
categorical_columns= [item[0] for item in ny_df_subset.dtypes if item[1].startswith('string')]

categorical_columns

['vendor_name', 'Payment_Type']

In [25]:
#Checking the distinct values in the categorical data
ny_df_subset.select('vendor_name').distinct().show()

+-----------+
|vendor_name|
+-----------+
|        VTS|
|        DDS|
|        CMT|
+-----------+

In [26]:
#Checking the distinct values in the categorical data
ny_df_subset.select('Payment_Type').distinct().show()

+------------+
|Payment_Type|
+------------+
|        CASH|
|      Credit|
|      CREDIT|
|        Cash|
|   No Charge|
|     Dispute|
+------------+

In [27]:
# Fixing payment_type column
ny_df_subset= ny_df_subset.withColumn("Payment_Type", 
                                      when(f.col('Payment_Type')== 'CASH', 'Cash')
                                      .when(f.col('Payment_Type') == 'CREDIT', 'Credit')
                                      .otherwise(f.col('Payment_Type'))
                                    )

In [28]:
ny_df_subset.select('Payment_Type').distinct().show()

+------------+
|Payment_Type|
+------------+
|        Cash|
|      Credit|
|   No Charge|
|     Dispute|
+------------+

Creating Different Tables

In [29]:
#Creating vendor table

vendors= ny_df_subset.select('vendor_name') \
                    .withColumn('vendor_id', monotonically_increasing_id()+1) \
                    .select('vendor_id', 'vendor_name')

vendors.show()

+---------+-----------+
|vendor_id|vendor_name|
+---------+-----------+
|        1|        VTS|
|        2|        VTS|
|        3|        VTS|
|        4|        DDS|
|        5|        DDS|
|        6|        DDS|
|        7|        DDS|
|        8|        VTS|
|        9|        CMT|
|       10|        CMT|
|       11|        CMT|
|       12|        CMT|
|       13|        DDS|
|       14|        CMT|
|       15|        CMT|
|       16|        CMT|
|       17|        CMT|
|       18|        CMT|
|       19|        DDS|
|       20|        CMT|
+---------+-----------+
only showing top 20 rows

In [30]:
vendors.count()

19835

In [31]:
payments= ny_df_subset.select('Payment_Type', 'Fare_Amt', 'surcharge', 'Tip_Amt', 'Tolls_Amt', 'Total_Amt') \
                      .withColumn('payment_id', monotonically_increasing_id()+1) \
                      .select('payment_id','Payment_Type', 'Fare_Amt', 'surcharge', 'Tip_Amt', 'Tolls_Amt', 'Total_Amt' )

payments.show(5)

+----------+------------+--------+---------+-------+---------+---------+
|payment_id|Payment_Type|Fare_Amt|surcharge|Tip_Amt|Tolls_Amt|Total_Amt|
+----------+------------+--------+---------+-------+---------+---------+
|         1|        Cash|     8.9|      0.5|    0.0|      0.0|      9.4|
|         2|      Credit|    12.1|      0.5|    2.0|      0.0|     14.6|
|         3|      Credit|    23.7|      0.0|   4.74|      0.0|    28.44|
|         4|      Credit|    14.9|      0.5|   3.05|      0.0|    18.45|
|         5|        Cash|     3.7|      0.0|    0.0|      0.0|      3.7|
+----------+------------+--------+---------+-------+---------+---------+
only showing top 5 rows

In [32]:
payments.count()

19835

In [33]:
#Locations table

locations= ny_df_subset.select('Start_Lon', 'Start_Lat', 'End_Lon', 'End_Lat') \
                       .withColumn('location_id', monotonically_increasing_id()+1) \
                       .select('location_id','Start_Lon', 'Start_Lat', 'End_Lon', 'End_Lat')

locations.show(3)

+-----------+----------+---------+----------+---------+
|location_id| Start_Lon|Start_Lat|   End_Lon|  End_Lat|
+-----------+----------+---------+----------+---------+
|          1|-73.991957|40.721567|-73.993803|40.695922|
|          2|-73.982102| 40.73629| -73.95585| 40.76803|
|          3|-74.002587|40.739748|-73.869983|40.770225|
+-----------+----------+---------+----------+---------+
only showing top 3 rows

In [34]:
locations.count()

19835

In [35]:
#Trip Table

trips= ny_df_subset.withColumn('trip_id',monotonically_increasing_id()+1 )

trips= trips.join(vendors, trips.trip_id==vendors.vendor_id, 'left')\
            .join(payments,trips.trip_id==payments.payment_id, 'left' )\
            .join (locations,trips.trip_id==locations.location_id, 'left' ) \
            .select ('trip_id','Trip_Pickup_DateTime','Trip_Dropoff_DateTime','Passenger_Count',
                     'Trip_Distance','vendor_id','payment_id', 'location_id', )

trips.show()

+-------+--------------------+---------------------+---------------+------------------+---------+----------+-----------+
|trip_id|Trip_Pickup_DateTime|Trip_Dropoff_DateTime|Passenger_Count|     Trip_Distance|vendor_id|payment_id|location_id|
+-------+--------------------+---------------------+---------------+------------------+---------+----------+-----------+
|      1| 2009-01-04 02:52:00|  2009-01-04 03:02:00|              1|              2.63|        1|         1|          1|
|      2| 2009-01-04 03:31:00|  2009-01-04 03:38:00|              3|              4.55|        2|         2|          2|
|      3| 2009-01-03 15:43:00|  2009-01-03 15:57:00|              5|             10.35|        3|         3|          3|
|      4| 2009-01-01 20:52:58|  2009-01-01 21:14:00|              1|               5.0|        4|         4|          4|
|      5| 2009-01-24 16:18:23|  2009-01-24 16:24:56|              1|               0.4|        5|         5|          5|
|      6| 2009-01-16 22:35:59|  2009-01-16 22:43:35|              2|               1.2|        6|         6|          6|
|      7| 2009-01-21 08:55:57|  2009-01-21 09:05:42|              1|               0.4|        7|         7|          7|
|      8| 2009-01-04 04:31:00|  2009-01-04 04:36:00|              1|              1.72|        8|         8|          8|
|      9| 2009-01-05 16:29:02|  2009-01-05 16:40:21|              1|               1.6|        9|         9|          9|
|     10| 2009-01-05 18:53:13|  2009-01-05 18:57:45|              1|0.6999999999999998|       10|        10|         10|
|     11| 2009-01-05 08:15:38|  2009-01-05 08:16:44|              1|0.2999999999999999|       11|        11|         11|
|     12| 2009-01-05 06:21:43|  2009-01-05 06:28:41|              1|               2.3|       12|        12|         12|
|     13| 2009-01-20 13:44:02|  2009-01-20 13:52:43|              2|               2.1|       13|        13|         13|
|     14| 2009-01-05 16:19:53|  2009-01-05 16:26:48|              2|               1.2|       14|        14|         14|
|     15| 2009-01-05 17:22:16|  2009-01-05 17:27:25|              1|               0.8|       15|        15|         15|
|     16| 2009-01-05 16:02:52|  2009-01-05 16:18:43|              1|               4.5|       16|        16|         16|
|     17| 2009-01-05 12:15:06|  2009-01-05 12:27:58|              1|               1.7|       17|        17|         17|
|     18| 2009-01-05 07:49:57|  2009-01-05 07:54:11|              1|               1.0|       18|        18|         18|
|     19| 2009-01-23 23:57:34|  2009-01-24 00:12:40|              2|               5.0|       19|        19|         19|
|     20| 2009-01-05 10:23:13|  2009-01-05 10:33:56|              1|               1.3|       20|        20|         20|
+-------+--------------------+---------------------+---------------+------------------+---------+----------+-----------+
only showing top 20 rows

In [36]:
trips.count()

19835

In [37]:
#Creating an environment for password
load_dotenv()

password= os.getenv('PASSWORD')

In [38]:
#cREATING CONNECTION TO DATABASE
def get_connection():
    connection= psy.connect(dbname='ny_taxi_trips', user='postgres', password=password, host='localhost', port=5432)
    return connection

conn=get_connection()
cur=conn.cursor()

In [44]:
#Create tables in database

conn= get_connection()
cur=conn.cursor()

create_table_query= '''
                    DROP TABLE IF EXISTS vendors CASCADE;
                    DROP TABLE IF EXISTS payments CASCADE;
                    DROP TABLE IF EXISTS locations CASCADE;
                    DROP TABLE IF EXISTS trips CASCADE;

                    CREATE TABLE IF NOT EXISTS vendors (
                        vendor_id INT PRIMARY KEY,
                        vendor_name VARCHAR(50)
                    );

                    CREATE TABLE locations (
                        location_id INT PRIMARY KEY,
                        start_lon FLOAT,
                        start_lat FLOAT,
                        end_lon FLOAT,
                        end_lat FLOAT
                    );

                    CREATE TABLE payments (
                        payment_id INT PRIMARY KEY,
                        payment_type VARCHAR(50),
                        fare_amt FLOAT,
                        surcharge FLOAT,
                        tip_amt FLOAT,
                        tolls_amt FLOAT,
                        total_amt FLOAT
                    );

                    CREATE TABLE trips (
                        trip_id INT PRIMARY KEY,
                        trip_pickup_datetime TIMESTAMP,
                        trip_dropoff_datetime TIMESTAMP,
                        passenger_count INT,
                        trip_distance FLOAT,
                        vendor_id INT,
                        payment_id INT,
                        location_id INT,
                        FOREIGN KEY (vendor_id) REFERENCES vendors(vendor_id),
                        FOREIGN KEY (payment_id) REFERENCES payments(payment_id),
                        FOREIGN KEY (location_id) REFERENCES locations(location_id)
                       );

    '''

cur.execute(create_table_query)

conn.commit()
conn.close()

Loading Data Into Postgresql Database Using JDBC Driver

In [45]:
# PostgreSQL JDBC URL and properties
jdbc_url = "jdbc:postgresql://localhost:5432/ny_taxi_trips"
jdbc_properties = {"user": "postgres", "password": password, "driver":"org.postgresql.Driver"}

In [46]:
dataframes_to_save = [
    (vendors, "vendors"),
    (locations, "locations"),
    (payments, "payments"),
    (trips, "trips")
]

In [42]:
# vendors.write.jdbc(url=jdbc_url, table='vendors',mode='overwrite', properties=jdbc_properties)

In [47]:
for dataframe, table_name in dataframes_to_save:
    writer=dataframe.write \
    .format('jdbc') \
    .option ('url', jdbc_url) \
    .option ('dbtable', table_name) \
    
    # Set each property individually
    for key, value in jdbc_properties.items():
        writer_incl_properties = writer.option(key, value)

    writer_incl_properties.mode('append').save()

Loading Data Into Postgresql Database Using SqlAlchemy

In [ ]:
from sqlalchemy import create_engine

connection_string = f'postgresql://postgres:postgres@localhost/taxi_data'

engine = create_engine(connection_string)

In [ ]:
trips.to_sql('trips', engine, if_exists='replace', index=False)
vendors.to_sql('vendors', engine, if_exists='replace', index=False)
payments.to_sql('payments', engine, if_exists='replace', index=False)
locations.to_sql('locations', engine, if_exists='replace', index=False)

Convert To Get Pyhton Script

In [54]:
# Getting python script
!pip install nbconvert

!jupyter nbconvert --to script ny_data.ipynb

Collecting nbconvert
  Downloading nbconvert-7.16.4-py3-none-any.whl.metadata (8.5 kB)
Collecting beautifulsoup4 (from nbconvert)
  Downloading beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting bleach!=5.0.0 (from nbconvert)
  Downloading bleach-6.1.0-py3-none-any.whl.metadata (30 kB)
Collecting defusedxml (from nbconvert)
  Downloading defusedxml-0.7.1-py2.py3-none-any.whl.metadata (32 kB)
Collecting jinja2>=3.0 (from nbconvert)
  Downloading jinja2-3.1.4-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: jupyter-core>=4.7 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from nbconvert) (5.7.2)
Collecting jupyterlab-pygments (from nbconvert)
  Downloading jupyterlab_pygments-0.3.0-py3-none-any.whl.metadata (4.4 kB)
Collecting markupsafe>=2.0 (from nbconvert)
  Downloading MarkupSafe-2.1.5-cp311-cp311-win_amd64.whl.metadata (3.1 kB)
Collecting mistune<4,>=2.0.3 (from nbconvert)
  Downloading mistune-3.0.2-py3-none-any.whl.metadata (1.7 kB)
Collecting nbclient>=0.5.0 (from nbconvert)
  Downloading nbclient-0.10.0-py3-none-any.whl.metadata (7.8 kB)
Collecting nbformat>=5.7 (from nbconvert)
  Downloading nbformat-5.10.4-py3-none-any.whl.metadata (3.6 kB)
Requirement already satisfied: packaging in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from nbconvert) (24.0)
Collecting pandocfilters>=1.4.1 (from nbconvert)
  Downloading pandocfilters-1.5.1-py2.py3-none-any.whl.metadata (9.0 kB)
Requirement already satisfied: pygments>=2.4.1 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from nbconvert) (2.18.0)
Collecting tinycss2 (from nbconvert)
  Downloading tinycss2-1.3.0-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: traitlets>=5.1 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from nbconvert) (5.14.3)
Requirement already satisfied: six>=1.9.0 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from bleach!=5.0.0->nbconvert) (1.16.0)
Collecting webencodings (from bleach!=5.0.0->nbconvert)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Requirement already satisfied: platformdirs>=2.5 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from jupyter-core>=4.7->nbconvert) (4.2.2)
Requirement already satisfied: pywin32>=300 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from jupyter-core>=4.7->nbconvert) (306)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from nbclient>=0.5.0->nbconvert) (8.6.2)
Collecting fastjsonschema>=2.15 (from nbformat>=5.7->nbconvert)
  Downloading fastjsonschema-2.19.1-py3-none-any.whl.metadata (2.1 kB)
Collecting jsonschema>=2.6 (from nbformat>=5.7->nbconvert)
  Downloading jsonschema-4.22.0-py3-none-any.whl.metadata (8.2 kB)
Collecting soupsieve>1.2 (from beautifulsoup4->nbconvert)
  Downloading soupsieve-2.5-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: attrs>=22.2.0 in c:\users\hp spectre\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (23.2.0)
Collecting jsonschema-specifications>=2023.03.6 (from jsonschema>=2.6->nbformat>=5.7->nbconvert)
  Downloading jsonschema_specifications-2023.12.1-py3-none-any.whl.metadata (3.0 kB)
Collecting referencing>=0.28.4 (from jsonschema>=2.6->nbformat>=5.7->nbconvert)
  Downloading referencing-0.35.1-py3-none-any.whl.metadata (2.8 kB)
Collecting rpds-py>=0.7.1 (from jsonschema>=2.6->nbformat>=5.7->nbconvert)
  Downloading rpds_py-0.18.1-cp311-none-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (2.9.0.post0)
Requirement already satisfied: pyzmq>=23.0 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (26.0.3)
Requirement already satisfied: tornado>=6.2 in c:\users\hp spectre\appdata\roaming\python\python311\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (6.4.1)
Downloading nbconvert-7.16.4-py3-none-any.whl (257 kB)
   ---------------------------------------- 0.0/257.4 kB ? eta -:--:--
   ------------------------------- -------- 204.8/257.4 kB 6.3 MB/s eta 0:00:01
   ---------------------------------------- 257.4/257.4 kB 3.9 MB/s eta 0:00:00
Downloading bleach-6.1.0-py3-none-any.whl (162 kB)
   ---------------------------------------- 0.0/162.8 kB ? eta -:--:--
   ---------------------------------------- 162.8/162.8 kB 4.9 MB/s eta 0:00:00
Downloading jinja2-3.1.4-py3-none-any.whl (133 kB)
   ---------------------------------------- 0.0/133.3 kB ? eta -:--:--
   ---------------------------------------- 133.3/133.3 kB 8.2 MB/s eta 0:00:00
Downloading MarkupSafe-2.1.5-cp311-cp311-win_amd64.whl (17 kB)
Downloading mistune-3.0.2-py3-none-any.whl (47 kB)
   ---------------------------------------- 0.0/48.0 kB ? eta -:--:--
   ---------------------------------------- 48.0/48.0 kB 2.4 MB/s eta 0:00:00
Downloading nbclient-0.10.0-py3-none-any.whl (25 kB)
Downloading nbformat-5.10.4-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.5 kB ? eta -:--:--
   ---------------------------------------- 78.5/78.5 kB 2.2 MB/s eta 0:00:00
Downloading pandocfilters-1.5.1-py2.py3-none-any.whl (8.7 kB)
Downloading beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
   ---------------------------------------- 0.0/147.9 kB ? eta -:--:--
   ---------------------------------------- 147.9/147.9 kB 8.6 MB/s eta 0:00:00
Downloading defusedxml-0.7.1-py2.py3-none-any.whl (25 kB)
Downloading jupyterlab_pygments-0.3.0-py3-none-any.whl (15 kB)
Downloading tinycss2-1.3.0-py3-none-any.whl (22 kB)
Downloading fastjsonschema-2.19.1-py3-none-any.whl (23 kB)
Downloading jsonschema-4.22.0-py3-none-any.whl (88 kB)
   ---------------------------------------- 0.0/88.3 kB ? eta -:--:--
   ---------------------------------------- 88.3/88.3 kB 4.9 MB/s eta 0:00:00
Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Downloading jsonschema_specifications-2023.12.1-py3-none-any.whl (18 kB)
Downloading referencing-0.35.1-py3-none-any.whl (26 kB)
Downloading rpds_py-0.18.1-cp311-none-win_amd64.whl (209 kB)
   ---------------------------------------- 0.0/209.0 kB ? eta -:--:--
   ---------------------------------------- 209.0/209.0 kB 6.4 MB/s eta 0:00:00
Installing collected packages: webencodings, fastjsonschema, tinycss2, soupsieve, rpds-py, pandocfilters, mistune, markupsafe, jupyterlab-pygments, defusedxml, bleach, referencing, jinja2, beautifulsoup4, jsonschema-specifications, jsonschema, nbformat, nbclient, nbconvert
Successfully installed beautifulsoup4-4.12.3 bleach-6.1.0 defusedxml-0.7.1 fastjsonschema-2.19.1 jinja2-3.1.4 jsonschema-4.22.0 jsonschema-specifications-2023.12.1 jupyterlab-pygments-0.3.0 markupsafe-2.1.5 mistune-3.0.2 nbclient-0.10.0 nbconvert-7.16.4 nbformat-5.10.4 pandocfilters-1.5.1 referencing-0.35.1 rpds-py-0.18.1 soupsieve-2.5 tinycss2-1.3.0 webencodings-0.5.1

[NbConvertApp] Converting notebook ny_data.ipynb to script
[NbConvertApp] Writing 5502 bytes to ny_data.py